@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* once the color gradeint is added take out html to make figure fill up entire size*/

/*html,*/
body {
	color: #444;
	font-family: 'Roboto';
	padding: 50px;
	background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
	height: 100vh;
	
	display: flex;
	align-items: center; /* CROSS AXIS */
	justify-content: center; /* MAIN AXIS */
}

/* display: flex puts them side by side */
.pizza {
	max-width: 800px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
	
	display: flex;
	/* aligns-self = 1, aligns-items = all */
	align-items: flex;
}

.pizza__hero {
	/* adjust pizza img size here */
	
	/* flex: grow / shrink / bases or width */
	/* flex-basis: 45%; or */
	flex: 0 0 45%;
	
}

.pizza__img {
	/* ususaly with responsive web design give it a width: 100% */
	width: 100%;
	display: block;
}

.pizza__content {
	/* flex: increase content box width */
	/* flex-grow: 1; or */
	flex: 1;
	background: white;
	padding: 35px 30px;
	
	/* likes default but adjustable items */
	display: flex; /* side by side */
	flex-direction: column; /* stacked */
}

.pizza__price {
	flex: 0 0 50px;
	background: linear-gradient(to bottom, #67b26f, #4ca2cd);
	
	/* change price verticaly */
	writing-mode: vertical-rl;
	color: white;
	font-size: 18px;
	
	/* when you define an element with a flex container that has 0 elements it becomes the flex item = $11.99 */
	display: flex;
	align-items: center;
	/* center in both directions */
	justify-content: center;
}

/* align menue dise by side */
.pizza__title {
	display: flex;
	/* align h1 & buttons */
	align-items: center;
	margin-bottom: 20px;
}

.pizza__heading {
	font-size: 20px;
	/* margin always occupies empty space */
	margin-right: auto
}

.pizza__tag {
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	padding: 2px 7px;
	border-radius: 100px;
	margin-left: 7px;
}

.pizza__tag--1 { background-color: #67b26f; }
.pizza__tag--2 { background-color: #4ca2cd; }
.pizza__description { font-size: 14px;}

.pizza__details {
	/* adjust sde by side */
	display: flex;
	
	/* justify-content: flex; = default spacing. not needed to specify */
	
	/* drop icon row down */
	margin-top: auto;
}

.pizza__detail {
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 20px;
	font-weight: 700;
	
	display: flex;
	align-items: center;
}

.emoji {
	font-size: 20px;
	margin-right: 3px;
}







